.card {
  height: auto;
  padding: 12px;

  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;

  text-align: left;
  word-wrap: break-word;
}

.card-textarea,
.card-textarea:focus {
  min-width: 100%;
  max-height: 162px;
  min-height: 54px;

  border: none;
  box-shadow: none;
  background: none;
  word-wrap: break-word;
  overflow: hidden;
  outline: none;
}

.card.dragging {
  opacity: 0.1;
  transform: rotate(-7deg);
}
