.list-wrapper {
  display: inline-block;

  width: 270px;
  height: 100%;
}

.list-content {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  background: #e2e4e6;
  border-radius: 3px;
  white-space: normal;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 18px;
  padding: 8px 10px;
}

.list-name {
  font-size: 14px;
}

.list-cards {
  padding: 0 8px;
}

.header,
.list-cards > .card {
  margin-bottom: 8px;
}

.new-card-composer {
  display: flex;
  justify-content: flex-start;
  padding: 8px 10px;
  color: #838c91;
  cursor: pointer;
}

.new-card-controls-section {
  display: flex;

  padding: 0px 10px 8px 10px;
}

.confirm {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #5aac44;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0 1px 0 #519839;

  transition: background .3s ease;
}

.confirm:hover {
  background: #519839 100%;
}
