:root {
  /* PIXEL SIZES */
  --size-xs: 6px;
  --size-s: 12px;
  --size-m: 24px;
  --size-l: 30px;
  --size-xl: 36px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;

  background-color: #ECEEEE;
}

input {
  outline: none;
}
